@model _403_Project_1.Models.MissionQuestions

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MissionQuestions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MISSION_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MISSION_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USER_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUESTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUESTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANSWER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANSWER)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QUESTION_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
